<div *ngIf="personajeDetail">
  <h2>{{ personajeDetail.name  }} - Details</h2>
  <div><span> id: </span> {{ personajeDetail.id }}</div>
  <div><span> name: </span> {{ personajeDetail.name }}</div>
  <div><span> avatar: </span> <img src="{{ personajeDetail.image }}" alt="img"> </div>
  <div>
    <label for="name"> personajeDetail name:</label>
    <input
      id="name"
      [(ngModel)]="personajeDetail.name"
      type="text"
      placeholder="name"
    />
    <button>Buscar detalhe</button>
  </div>
</div>
<router-outlet></router-outlet>
