<mat-toolbar color="secondary">
  <span>
  <h2>Meus personagens favoritos de
  <img
    class="logo"
    src="https://upload.wikimedia.org/wikipedia/commons/7/71/Street_Fighter_old_logo.png"
  >
  </h2>
</span>
</mat-toolbar>
<div class="container">

  <ul class="personaje">
    <li
    *ngFor="let personaje of personajes"
    [class.selected]=" personaje === selectedPersonaje"
    (click)="SearchDetail(personaje)"
     >
    {{ personaje.name }} -

    </li>
  </ul>
</div>
<app-personaje-details [personaje]="selectedPersonaje"></app-personaje-details>
