<mat-toolbar color="secondary">
  <span>
    <h2>
      Meus personagens favoritos de
      <a routerLink="/">
        <img
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/7/71/Street_Fighter_old_logo.png"
      />
      </a>
    </h2>
  </span>
</mat-toolbar>
<div class="container">
  <ul class="personaje">
    <li
      *ngFor="let personaje of personajes"
      [class.selected]="personaje === selectedPersonaje"
      (click)="SearchDetail(personaje)"
    >
      {{ personaje.name }}
    </li>
  </ul>
</div>
<app-personaje-details [personajeDetail]="selectedPersonaje"></app-personaje-details>
<!-- para fazer uma ligação do meu componente details, com meu component personajes, eu uso PROPERTY
     e para que meu PERSONAJE DETAILS, receba informações de fora dele, temos que colocar um decorator
    chamado @Input()-->
<app-message-personaje></app-message-personaje>
